{% extends "base.html" %}
{% block page_content %}
  <!-- Main Content -->
<div class="hero-mini hero-mini-sm">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h1>About Us</h1>
                <div class="your-breadcrumb">
                    <div class="breadcrumb-item"><a href="/">Home</a></div>
                    <div class="breadcrumb-item">About Us</div>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article class="article article-detail article-noshadow">
                    <div class="p-0">
                        <div class="article-metas">
                            <div class="article-meta">By <a href="javascript:;">Muhamad Nauval Azhar</a></div>
                            <div class="article-meta">Updated at Jan 29, 2019</div>
                        </div>
                        <div class="article-description">
                            <p>Hi, we are a team based in Bogor, Indonesia. If you have a cool project or question, send us something.</p><p>Email: nauvalazhar2@gmail.com<br>Phone: (+62) 821-247-68-469</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}