{% extends "base.html" %}
{% block page_content %}
  <!-- Main Content -->
<div class="hero-mini hero-mini-sm">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h1>About Us</h1>
                <div class="your-breadcrumb">
                    <div class="breadcrumb-item"><a href="/">Home</a></div>
                    <div class="breadcrumb-item">About Us</div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="wrapper bg-light angled upper-start lower-start" style="padding-left: 15px;padding-right: 15px;">
      <div class="container py-14 pt-md-17 pb-md-15">
        <div class="row gx-md-8 gx-xl-12 gy-10 mb-14 mb-md-18 align-items-center" style="margin-top:-60px !important;">
            <h3 style="color:#c6000e !important;">BEREA BAPTIST CHURCH. BUKOTO – KAMPALA </h3>

             <p class="mb-6">
                <span style="font-weight:bold !important;">Berea Baptist Church</span> was established in 2007 to model a return to diligent study of God’s Word,
                and an authentic preaching that is expository in content and passionate in delivery,
                enabling a full expression of biblical faith in practical Christian living.
                Some churches have convinced themselves that program, style, and
                catchy campaigns are more compelling or powerful than ministry centered on traditional preaching and teaching.
                But a church is not a corporation in need of a fresh message, a new promotional strategy, or different direction.
                The Bible is not silent on the course churches should follow, or the disaster that results from veering off that course.
                God has purposed that his church draws a life of blessing,
                stability, and power from being Scripture-driven.
            </p>

            <p>
                  Berea’s effort is directed at correcting such mistakes in contemporary ministry that are human centered in worship,
                  preaching, spirituality and faith expression.
                  Thus, we marshal our efforts at Berea with intentional commitment to the prayerful
                  pursuit of God’s renewing grace in reformation and revival.
            </p>
            <p>
                <span style="font-weight:bold !important;">The Cause for Berea</span>
                The most influential false doctrines that ever threatened the church have always masqueraded as genuine,
                employing the familiar language of Scripture but skewing the truth.
                Using the language of biblical Christianity is not necessarily the same as being biblical,
                This situation is not unique to our present time and culture;
                it is a pattern that has expressed itself in nearly every generation.
            </p>
          <div class="col-lg-8 order-lg-2" id="accordion">
               <br><br>
               <h3 class="display-4 mb-5" style="text-transform:none !important;font-size:19px !important;color:#c6000e !important;" >“A Church At The Heart With The Community At Its Heart”</h3>

              <div class="card shadow-lg me-lg-6">
              <div class="card-body p-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span class="number">01</span></span>
                  </div>
                  <div>
                    <h4 class="accordion-header collapsed mb-1" role="button" data-toggle="collapse" data-target="#panel-body-1" aria-expanded="false">Our Identity</h4>
                    <p class="accordion-body collapse show mb-0" id="panel-body-1" data-parent="#accordion">
                        A congregation that seeks to honor God and to display His glory through the faithful preaching of his Word,
                        thus bringing the reality of his nature and work among his people for a meaningful and consistent life of worship.
                    </p>
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
            <div class="card shadow-lg ms-lg-13 mt-6">
              <div class="card-body p-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span class="number">02</span></span>
                  </div>
                  <div>
                    <h4 class="accordion-header mb-1" role="button" data-toggle="collapse" data-target="#panel-body-2">Our Existance</h4>
                    <div class="accordion-body collapse" id="panel-body-2" data-parent="#accordion">
                        <p class="mb-0">Berea Baptist Church exists to glorify God by making disciples,
                        who are:<br>
                        Developing in their relationship with God through worship.Increasing participation in the church through fellowship, and<br>
                        Involved in the world through witness.
                        </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
            <div class="card shadow-lg mx-lg-6 mt-6">
              <div class="card-body p-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span class="number">03</span></span>
                  </div>
                  <div>
                  <div class="accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-3">
                      <h4 class="mb-1">Our Practice</h4>
                  </div>
                  <div class="accordion-body collapse" id="panel-body-3" data-parent="#accordion">
                    <p class="mb-0">We therefore make it our effort to grow.<br>
                    Larger through Evangelism.Deeper through Discipleship,Warmer through Fellowship,
                    Stronger through Worship, and Broader through Service.
                    </p>
                  </div>

                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </div>
          <!--/column -->
          <!--/column -->
        </div>
      </div>
      <!-- /.container -->
    </section>
    <section class="wrapper bg-light wrapper-border" style="background-color: #fefefe!important;">
      <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-lg-7">
            <div class="row gx-md-5 gy-5">
              <div class="col-md-6 col-xl-5 align-self-end">
                <div class="card bg-pale-yellow">
                  <div class="card-body">
                    <blockquote class="mb-0">
                      <div class="blockquote-details">
                        <div class="info p-0">
                            <h5 class="mb-1" style="color:#18264f !important"><span style="color:#c6000e !important;">BEREA:</span> We are “Berean” in character</h5>
                        </div>
                      </div>
                      <p>
                          The “Berea” preference is more than a church name to us; it is a desired character with which to identify.
                      </p>
                    </blockquote>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!--/column -->
              <div class="col-md-6 align-self-end">
                <div class="card bg-pale-red">
                  <div class="card-body">
                    <blockquote class="mb-0">
                        <div class="blockquote-details">
                        <div class="info p-0">
                            <h5 class="mb-1" style="color:#18264f !important;"><span style="color:#c6000e;">BAPTIST:</span> We are “Baptist” by denomination</h5>
                        </div>
                      </div>
                      <p>With a Baptist persuasion, we identify with Protestant Christians who embrace the basic tenets of 16th-century Reformation</p>

                    </blockquote>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!--/column -->
              <div class="col-md-8 offset-xl-1">
                <div class="card bg-pale-primary">
                  <div class="card-body">

                    <blockquote class="mb-0">
                        <div class="blockquote-details">
                            <div class="info p-0">
                                <h5 class="mb-1" style="color:#18264f !important;"><span style="color:#c6000e !important;">CHURCH:</span> We are a “Church” by anatomy</h5>
                            </div>
                        </div>
                        <p>
                          The church is mandated by God as revealed in his Word. It is his designation for the assembly of people called by his name;
                          people who delightfully live under the headship of Christ, the earthly expression of the heavenly reality.
                        </p>
                    </blockquote>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!--/column -->
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/column -->
          <div class="col-lg-5">
            <h2 class="display-4 mb-3" style="color:#c6000e !important;">Word Ministry at Berea</h2>
            <p class="lead fs-lg" >
                Confident that the Bible is God’s message to all people of all ages,
                we believe that when it is clearly taught,
                God’s voice is heard, and lives are transformed.
            </p>
            <p>
                Confident that the Bible is God’s message to all people of all ages, we believe that when it is clearly taught, God’s voice is heard, and lives are transformed.
                It is possible to speak of pastoral preaching as one aspect of ministry of the Word, but it is not possible to think of a ministry of the Word that is not fundamentally pastoral.
                <br><br>Christ is God’s Word incarnate; the Bible is God’s Word written, and authentic preaching is God’s Word spoken.
                At Berea, declaring Scripture’s truth is our highest privilege as Christ’s ambassadors.
            </p>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <section class="wrapper bg-light angled upper-start lower-start">
    <div class="container pt-md-17 pb-md-15">
    <div class="row mb-5">
      <div class="col-md-10 col-xl-8 col-xxl-7 mx-auto text-center">
        <h2 class="display-4 mb-4 px-lg-14" >Preaching for Transformation</h2>
      </div>
    </div>
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-6">
        <h2 class="display-6 mb-3" style="color:#c6000e !important;">Corporate Worship at Berea</h2>
        <p class="lead fs-lg pe-lg-5" style="color:#18264f !important;">At Berea we acknowledge that in the biblical framework, worship is better described than defined.</p>
        <p>
           But we affirm that “worship” is the believer’s response of all that they are — mind, emotions,
            will, body — to what God is, says and does.
            Worship is the submission of all our nature to “Worship” is the quickening of conscience by His holiness;
            the nourishment of mind with His truth; the purifying of imagination by His Beauty; the opening of the heart to His love;
            the surrender of will to His ‘purpose — and all of this gathered up in adoration,
            the most selfless emotion of which our nature is capable. <br><br>

            When we gather together, we focus our attention on God, giving Him our praise and receiving his blessing and instruction.
            We aim at “worship” that is focused upon the majesty and beauty of the Triune God,
            shaped by His self-revelation in Scripture,
            and borne in our daily lives.

        </p>
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="display-6 mb-3" style="color:#c6000e !important;">Prayer at Berea</h2>
        <p class="lead fs-lg pe-lg-5" style="color:#18264f !important;">At Berea, prayer is the heartbeat of personal and church life.</p>
        <p>
            We handle prayer as a unique,
            biblical and apostolic priority in Christian living and service, applying it as the foundation,
            the fabric and force of life and ministry. Prayer is the privilege God has given to us, to cooperate with him in his purpose,
            plan and will. And we affirm that no one can be greater than his / her prayer life.
            We teach and remind all people that prayer comes to us not only as a gift,
            but as a pattern after our Lord Jesus, and as a command for all who believe.
        </p>
      </div>
      <!--/column -->
    </div>
    </div>
</section>
{% endblock %}