{% extends "base.html" %}
{% block page_content %}
  <!-- Main Content -->
<div class="hero-mini hero-mini-sm">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h1>About Us</h1>
                <div class="your-breadcrumb">
                    <div class="breadcrumb-item"><a href="/">Home</a></div>
                    <div class="breadcrumb-item">About Us</div>
                </div>
            </div>
        </div>
    </div>
</div>

<section style="padding:50px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article class="article article-detail article-noshadow">
                    <div class="p-5">
                        <div class="article-metas">
                            <div class=""> <h5 href="javascript:;">Our Identity</h5></div>
                        </div>
                        <div class="article-description">
                            <p>We are a congregation that seeks to honor God and to  display His glory through the faithful preaching of his Word,
                                thus bringing the reality of his nature and work among his  people for a meaningful and consistent life of worship.
                            </p>
                            <p>
                                Berea Baptist Church exists to glorify God by making  disciples who are:
                                <u>
                                   <li>developing in their relationship with God through  worship. </li>
                                    <li>increasing participation in the church through  fellowship, and </li>
                                    <li>involved in the world through witness. </li>
                                </u>
                            </p>

                        </div>

                         <div class="article-metas">
                            <div class=""> <h5 href="javascript:;">Our Practice </h5></div>
                        </div>
                        <div class="article-description">
                            <p>We therefore make it our e ort to grow:  </p>
                            <p>
                                <u>
                                   <li>Larger through Evangelism. </li>
                                    <li>Deeper through Discipleship  </li>
                                    <li>Warmer through Fellowship  </li>
                                    <li>Stronger through Worship, and </li>
                                    <li>Broader through Service. </li>
                                </u>
                            </p>

                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}