{% extends "base.html" %}
{% block page_content %}
  <!-- Main Content -->
<div class="hero-mini hero-mini-sm">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h1>Fellowship</h1>
                <div class="your-breadcrumb">
                    <div class="breadcrumb-item"><a href="/">Home</a></div>
                    <div class="breadcrumb-item">Fellowship</div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="process" class="wrapper bg-light wrapper-border" style="background-color: #fefefe!important;">
   <div class="container py-md-16">
  <h2 class="display-5 mb-7" style="color:#c6000e !important;">Berea Sunday Worship</h2>
  <div class="row gx-lg-8 gx-xl-12 gy-6 mb-6 process-wrapper line">
    <div class="col-md-6 col-lg-4"> <span class="icon btn btn-circle btn-lg btn-soft-primary disabled mb-4"><span class="number">01</span></span>
      <h5 class="mb-1">7:30 am – 9:00 am</h5>
      <p style="font-size:font-size: 20px !important;">Sunday School Services</p>
    </div>
    <!--/column -->
    <div class="col-md-6 col-lg-4"> <span class="icon btn btn-circle btn-lg btn-primary disabled mb-4"><span class="number">02</span></span>
      <h5 class="mb-1"> 10: 00 am – 10: 50am</h5>
      <p style="font-size:font-size: 20px !important;">Bible Study hour</p>
    </div>
    <!--/column -->
    <div class="col-md-6 col-lg-4"> <span class="icon btn btn-circle btn-lg btn-soft-primary disabled mb-4"><span class="number">03</span></span>
      <h5 class="mb-1">11:00 am -1: 00pm</h5>
      <p style="font-size:font-size: 20px !important;">Worship Service</p>
    </div>
    <!--/column -->
  </div>
 </div>
</section>

{% endblock %}